.promptRow{
  text-align: left;
}

.responseRow{
  color: #6e6e6e;
  text-align: center;
  margin-left: 5%;
  margin-right: 5%;
}

.fixed-row-bottom { position: fixed; bottom: 0;}

body {
  min-height: 100vh;
}
